header.flex{
 background-color: var(--footer-bg); 
 color:var(--white); 
 & .fasolid{
    color: var(--white);
 } 
 padding-block: 0.6rem;
 & .logo.fasolid{
  font-size: 1.5rem;  
 }
 & .sign-in:hover,
 & .register:hover {
   border: 1px solid rgb(152, 154, 189);
   padding: 0.5rem 1.1rem;
 }

 & .cart:hover {
   border: 1px solid rgb(152, 154, 189);
   padding: 0.5rem 1.1rem 0.5rem 0.7rem;
 }

 & .logo:hover {
   scale: 0.95;
 }

}
main.flex{
  max-width: 800px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -1px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    border-radius: 0.4rem;
background-color: var(--white);
  & img{
    width: 40%;
    border-radius: 0.4rem;
  }
  & .price{
    font-size: 1.22rem;
    font-weight: bold;
    color: var(--red-button);
  }
  & .Productdetails{
    margin-inline: 1.1rem;
  }
  & .discriotion{
    margin-block: 1.2rem;
    line-height: 1.44rem;
    text-align: left;
    text-wrap: balance;
  }
  & .add-to-card{
    background-color: var(--red-button);
    color: var(--white);
    border-radius: 4px;
    padding: 6px 8px;
    font-size: 0.9rem;
    gap: 0.33rem;
  }
  & .fa-cart-plus{
    color: var(--white);
  }

}
@media (width<800px) {
  main.flex{
    flex-wrap: wrap;
    & img{
      margin-inline: auto;
      width: 260px;
    }
    .Productdetails{
      margin-top: 2.5rem;
      margin-bottom: 1.3rem;
    }
  }
}
